html {
  border-radius: 25px;
  margin: 5px;
  touch-action: manipulation; 
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  background-color: rgb(40, 40, 40);
  font-family: sans-serif;
  z-index: -6; 
}

.topnav {
  height: 4.7rem;
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
}

#menu {
  padding-top: .7rem;
  height: 3.5rem;
}
#home {
  padding-top: .7rem;
  height: 3.5rem;
}

.container {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.image-one {
  background-image: url(./images/image-1.jpg);
  background-position: center;
  transform: translateZ(-1px);
  background-size: cover;
  height: 79vh;
  border-radius: 25px;
  margin: 5px;
  margin-top: .6rem;
  border: solid whitesmoke 2px;
}

.image-two {
  background-image: url(./images/image-2.jpg);
  background-position: center;
  height: 60vh;
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  transform: translateY(-60px) translateZ(-1px);
  background-size: cover;
  margin: 5px;
  border-radius: 25px;
}

.image-three {
  background-image: url(./images/image-3.jpg);
  background-position: center;
  height: 60vh;
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  transform: translateY(-100px) translateZ(-1px);
  background-size: cover;
  border-radius: 25px;
}

.image-four {
  background-image: url(./images/image-4.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100px) translateZ(-1px);
  border: solid #9f774d 2px;
  border-radius: 25px;
}

.image_welcome_text {
  visibility: hidden;
  color: white;
  white-space: nowrap;
  font-size: 29px;
  text-align: right;
  word-break: keep-all;
  position: static;
  transform: translateX(-160px);
  text-shadow: 1.5px 0px 1px black;
}

.header_welcome_text {
  color: rgb(255, 255, 255);
  white-space: nowrap;
  font-size: 40px;
  text-align: right;
  word-break: keep-all;
  position: static;
  transform: translateY(-40px) translateX(-160px);
  text-shadow: 4px 2px 30px black;
}

.join-us-section {
  color: white;
  height: 140px;
  font-size: 17px;
  --bg: #c8c8bc90; 
  padding-left: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #9f774d 2px;
  border-radius: 25px;
  margin: 20px;
  background-size: cover;
  background-color: var(--bg, --color-black);
  transform: translateY(-60px);
  text-shadow: 1.5px 0px 1px black;
} 

.a-brand-new-service_backdrop {
  z-index: 1;
  height: 370px;
  max-width: 1380px;  
  border: solid #9f774d 2px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-right: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  --bg: #638a87 ;
  background-color: var(--bg, --color-black);
  transform: translateY(-100px);
}

.a-brand-new-service_text {
  color: white;
  text-align: left; 
  margin-left: 10px;
  margin-right: 130px;
  word-break: keep-all;
  font-size: 24px;
  text-shadow: 2.5px 2px 4px black;
}

.getting-ready_text {
  z-index: 1;
  font-size: 16px;
} 

.as-we-begin-section {
  color: white;
  height: 380px;  
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  --bg: #638a87;
  background-color: var(--bg, --color-black);
  transform: translateZ(1px) scale(1.5);
  outline: #294558 5px;
  text-shadow: 0px 0px 1px black;
}

ul {
  list-style: none;
}

ul li::before {
  display: inline-block; 
  content: "\2022";
  color: orange;
  width: 1em;
  font-weight: bold;
  margin-left: -1em;
}

.footer {
  background-color: #384558;
  color: white;
  border-radius: 25px;
  min-width: 60%;
  width: 60%;
  height: 5%;
  max-height: 50px;
  display: flex; 
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  padding-right: 10px;
  margin: 20px; 
}
a {
  color: white;
  font-size: 18px; 
  text-decoration: none;
}

.whatsapp_button {
  z-index: 999;
  width: 150px;
  height: 45px;
  border-radius: 20px; 
  position: fixed;
  float: right;
  margin-right: 3px;
  bottom: 10px;
  right: 10px;
  display: block;
  font-weight: 500;
}